*{
    margin: 0;
    padding: 0;
}
#profilePic{
    padding: 0;
    box-sizing: border-box;
    border-radius: 60%;
    border:  10px solid rgb(236, 5, 121);
    max-width: 25vw;
}
.scenario{
    height: 100vh;
}
.studies{
    background-color: aqua;
}
.works{
    background-color: brown;
}
.startup{
    background-color: chartreuse;
}
.contact{
    background-color: darkgoldenrod;
}